<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Dane potrzebne do umowy</title>

    <style>


        .navigation {
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
        }

        .navigation a {
            text-decoration: none;
            color: white;
            background-color: #343a40;
            padding: 10px 20px;
            border-radius: 5px;
        }
  </style>
</head>

<tr>
    <td th:text="${clientId}"></td>
    <td>Działaj!!!!</td>
</tr>

<body>

<div class="navigation">
    <a th:href="@{/clients/showBuildingData/{clientId}(clientId=${clientId})}">Zapotrzebowanie budynku</a>
    <a href="page2.html">Pompa ciepła</a>
    <a th:href="@{~/energydata/temperatures/{id}(id=${client.id})}" class="btn btn-primary btn-block">Wykres oraz zużycie pompy</a>
    <a href="/clients/showAll">Powrót do listy klientów</a>
</div>



</body>
</html>