.c-pointer {
    cursor: pointer;
}

.pl-1 {
    padding-left: 0.5rem !important;
}

.pl-2 {
    padding-left: 1rem !important;
}

.pl-3 {
    padding-left: 1.5rem !important;
}

.pl-4 {
    padding-left: 2.0rem !important;
}

.pl-5 {
    padding-left: 2.5rem !important;
}

.pl-6 {
    padding-left: 3.0rem !important;
}

.pl-7 {
    padding-left: 3.5rem !important;
}

.pl-8 {
    padding-left: 4rem !important;
}

.pl-9 {
    padding-left: 4.5rem !important;
}

.pl-10 {
    padding-left: 5rem !important;
}

.table-building-info {
    text-align: center;
    & .dead-center {
        vertical-align: middle;
        text-align: center;
    }
    & .category-computation {
        background-color: #FF7C80;
    }
    & .header {
        background-color: #18192D;
        color: white;
        vertical-align: middle;
    }
    & .unused {
        background-color: #E7E6E6;
        border: none;
    }
    & .secondary {
        background-color: #E7E6E6;
    }
    border: black;
    table-layout: fixed;
    .rhs {
        text-align: right;
    }
    .lhs {
        text-align: left;
    }
    .center {
        text-align: center;
    }
    .vbot {
        vertical-align: bottom;
    }
    .vcenter {
        vertical-align: middle;
    }
}
