<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

<div class="container">
    <h1>Edytuj klienta</h1>
    <form action="#"
      th:action="@{/clients/edit/{id}(id=${client.id})}"
      th:object="${client}"
      method="post">
<div class="form-group">
    <label for="name">Imię i nazwisko: </label>
    <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="name">
</div>
<div class="form-group">
    <label for="address">Adres</label>
    <input type="text" class="form-control" id="address" placeholder="address" th:value="*{address}">
</div>
<div class="form-group">
    <label for="telephone">Numer telefonu:</label>
    <input type="text" class="form-control" id="telephone" placeholder="telephone" th:value="*{telephone}">
</div>
        <div class="form-group">
            <label for="note">Notatka:</label>
            <input type="text" class="form-control" id="note" placeholder="note" th:value="*{note}">
        </div>

<button type="submit" class="btn btn-primary">Zapisz zmiany</button>
</form>
</div>


</body>
</html>