<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataTables with Ajax</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">

</head>

<body>

<div id="dataTablesShow" style="margin: 20px;">

    <table id="mydatatable" class="display dataTable cell-border" style="width:100%"></table>

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function() {
      $('#mydatatable').DataTable({
        pageLength: 8,
        ajax: {
          url: '/offers/calcInvoice/' + clientId, // Closing double quote added
          type: 'GET',
          contentType: 'application/json',
          dataSrc: 'data'
        },
        columns: [
          { title: "Model", data: "model" },  // Capitalized "Model" for consistency
          { title: "Cena zk.", data: "catalogPrice" },
          { title: "Wartość", data: "catalogPrice" },
          { title: "Cena z marżą", data: "priceWithMargin" },
          { title: "VAT", data: "vat" },
          { title: "Wartość brutto", data: "priceWithVat" }
        ]
      });
    });
  </script>
</body>
</html>


