<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://datatables.net/media/css/site-examples.css">
    <html xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Faktura</title>
</head>


<form>
<div class="form-group">
    <label for="overhead">Narzut: </label>
    <input type="text" class="form-control" id="overhead" name="overhead" />
</div>
    <div class="form-group">
        <label for="margin">Marza: </label>
        <input type="margin" class="form-control" id="margin" name="margin" />
    </div>
    <div class="form-group">
        <label for="vat">Vat: </label>
        <input type="text" class="form-control" id="vat" name="vat" />
    </div>
    <button type="submit" onclick="getData()" class="btn btn-primary">Wyświetl dane</button>
</form>

<div id="dataTablesShow" style="margin: 20px;">

    <table id="example" class="display dataTable cell-border" style="width:100%"></table>

</div>



<script th:inline="javascript">

        var clientId = /*[[${clientId}]]*/

</script>

<script>

        function getData() {

         const ajaxUrl = "/offers/calcInvoice/" + clientId;
        console.log("ladujemy sie");

                let table = new DataTable('#mydatatable', {
                    paging: false,
                    serverSide: true,
                    processing: true,
                    searchDelay: 500,
                    ajax: {
                        url:   ajaxUrl,
                        type: "GET",
                        contentType: "application/json",
                        data: function (d) {
                            return JSON.stringify(d);
                        }
                    },
                    columns: [
                        {title: "model", data: "model"},
                        {title: "cena zk.", data: "catalogPrice"},
                        {title: "wartość", data: "catalogPrice"},
                        {title: "cena z marżą", data: "priceWithMargin"},
                        {title: "vat", data: "vat"},
                        {title: "wartość brutto", data: "priceWithVat"}
                    ]
                });

            }

        </script>

</body>
</html>