<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Panel Admina</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card {
            background-color: #007bff;
            color: #fff;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dodaj klienta</h5>
                    <a href="/clients/add" class="btn btn-primary btn-block">Dodaj</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dodaj handlowca</h5>
                    <a href="/salesmen/add" class="btn btn-primary btn-block">Dodaj</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dodaj pompę ciepła</h5>
                    <a href="/heatpumps/add" class="btn btn-primary btn-block">Dodaj</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Oblicz CWU i CO budynku</h5>
                    <a href="/buildings/add" class="btn btn-primary btn-block">Oblicz</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Wykresy pompy ciepła</h5>
                    <a href="/charts/" class="btn btn-primary btn-block">Oblicz</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>